.row1 {
  height: 150px;
}
.box {
  height: 120px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
#row3 {
  border: 2px solid lightgrey;
  border-radius: 5px;
}
#horizontal-line {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}
.footer {
  width: 100%;
  height: 100px;
  padding: 30px;
}
@media(max-width: 1200px) {
  #img {
    height: 376px;
  }
}
@media(max-width: 768px) {
  #img {
   display: none;
  }
}